ACCESS_TOKEN_EXPIRE_MINUTES=1440
ALGORITHM=HS256
DATABASE_URL="DATABASE_URL=postgresql+asyncpg://nafaedu:YW4I3gMeGJENvlzR3IEwu8TsGMeCM7TD@dpg-d8bdoej7uimc73as35sg-a/nafa_edu_base"
DEBUG=true
MAX_FILE_SIZE_MB=50
MISTRAL_API_KEY=iYQufFXQlhZa294RYs5iXigu5HrLcI4c
REDIS_URL=redis://red-d8bdtvb7uimc73as7dn0:6379
REFRESH_TOKEN_EXPIRE_DAYS=30
SECRET_KEY=nafa-edu-secret-key-in-production
UPLOAD_DIR=./uploads
